@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    box-sizing: border-box !important;
  }

  html, body {
    overflow-x: clip;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
